<%- include("start.ejs") %>

<body class="blog-body">
    <nav class="navigation <%= (locals.page === 'home') ? 'drop-in' : '' %>">
        <div class="navbar navbar-expand-lg ">
            <div class="container-fluid shadow-lg fixed-top">
                <a class="navbar-brand" href="#">
                    <img src="images/logo.png" alt="Star Blogs" class="drop-shadow logo">
                </a>
                <button class="navbar-toggler start" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-middle flex-grow-1 pe-3 ">
                            <li class="nav-item">
                                <a href="/profilepage">
                                    <div class="profile profile-container">
                                        <img src="images/profile-user.png" class="profile-pic" alt="profile">
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link <%= (locals.page === 'home') ? 'active' : '' %>" aria-current="page"
                                    href="/">Home</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link <%= (locals.page === 'blogs') ? 'active' : '' %>" href="/blogs">Blogs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link <%= (locals.page === 'createblog') ? 'active' : '' %>"
                                    href="/createblog">Create Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link <%= (locals.page === 'myblogs') ? 'active' : '' %>" href="myblogs">My
                                    Blogs</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

    </nav>
    
